body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("https://media.istockphoto.com/id/1304849823/photo/two-bubble-talk-or-comment-sign-symbol-on-blue-background.webp?b=1&s=170667a&w=0&k=20&c=mHyYxmYyByTY2eWrxzqno5tlKFn9XNFF7zX-iPlUVSY=");
    background-size: cover;
    background-repeat: no-repeat; 
}
  
  #chat-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  #chat-messages {
    max-height: 300px;
    overflow-y: auto;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
  }
  
  #name-input,
  #room-input,
  #message-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  #send-button {
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  #send-button:hover {
    background-color: #0056b3;
  }
  